body {
	margin: 0;
	padding: 0;
}

#wrap {
	padding: 30px;
	text-align: center;
	height:  250px;
}

#wrap2 {
	padding: 30px;
	text-align: center;
	background: #CC0000;
}

#wrap3 {
	padding: 30px;
	text-align: center;
	height: 2000px;
}

#wrap4 {
	padding: 30px;
	background: #CCCCCC;
	height: 2000px;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}